.navbar {
    background-color: rgb(92,76,82);
}

.jumbotron {
    margin-top: 75px;
    background-color: rgb(178,181,189);
}

a {
    color: #FFF;   
}

a:visited {
    color: #FFF;   
}

body {
    background-color: rgb(234,238,239);   
}